@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

.img-bg {
  /* background-image: url('/src/assets/img/plane.jpg');
  background-size: cover; */
  height: 500px;
  width: 500px;
}